body {
  margin: 0;
  font-family: 'Roboto', sans-serif
}

@font-face {
  font-family: 'Oxygen-Light';
  src: url('./fonts/Oxygen-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Pacifico-Regular';
  src: url('./fonts/Pacifico-Regular.ttf');
  font-weight: 300;
}


.main-container {
  display: flex;
  flex-direction: column;
}

#header {
  flex: 1 0 40%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: black;
  border: 3px solid black;
  padding-left: 1rem;
  z-index: 1;
}

.branding h1 {
  margin: 0;
  font-family: 'Pacifico-Regular';
}


.body-container {
  flex: 9;
  background-color: white;
}

nav {
  flex: 0 1 40%;
  padding: 0;
  margin: 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-inline-start: 0px;
  font-size: 0;
}

nav ul li {
  border-left: 3px solid black;
  padding: 20px;
  font-size: 16px;
  font-family: 'Oxygen-Light';
}

.journal {
  display: flex;
  flex-direction: row;
}

.left-side {
  flex: 2
}

.right-side{
  flex: 4
}

.container {
  margin: 30px 15px;
  padding: 30px;
  border: black solid 3px;
  font-family: 'Oxygen-Light';
  font-size: 16px;
  z-index: 1;
}

.title {
  font-family: 'Oxygen-Light';
  font-size: 20px;
  border: black solid 3px;
  margin: 25px 0px -50px 20px;
  padding: 5px 0px 5px 15px;
  width: 40%;
  background-color: black;
  z-index: 2;
  color: white;
}

textarea {
  font-family: 'Oxygen-Light';
  font-size: 18px;
  padding: 10px;
  width: 96%;
  height: 55vh;
  line-height: 1.5;
  vertical-align: top;
  border: none;
}

button {
  border: black 3px solid;
  font-family: 'Oxygen-Light';
  padding: 5px;
  text-align: center;
  font-size: 16px;
  margin: 5px 5px 0 0;
}

button:hover,select {
  background: black;
  color: white
}

.mood-icon {
  padding: 5px; 
  border: none;
}